# Place FreeRTOS functions into flash to save some IRAM on the ESP32
# Source: <https://github.com/espressif/esp-idf/blob/v5.2.1/examples/provisioning/wifi_prov_mgr/sdkconfig.defaults.esp32#L1C1-L2C45>
CONFIG_FREERTOS_PLACE_FUNCTIONS_INTO_FLASH=y
